#define PLATFORMIO 60119
#define ARDUINO_ESP32_DEV
#define RADIOLIB_LORA_REGION EU868
#define RADIOLIB_LORA_SUBBANDS 0
#define RADIOLIB_LORAWAN_JOIN_EUI 0x0000000000000000
#define RADIOLIB_EXCLUDE_AFSK
#define RADIOLIB_EXCLUDE_APRS
#define RADIOLIB_EXCLUDE_AX25
#define RADIOLIB_EXCLUDE_BELL
#define RADIOLIB_EXCLUDE_FSK4
#define RADIOLIB_EXCLUDE_HELLSCHREIBER
#define RADIOLIB_EXCLUDE_MORSE
#define RADIOLIB_EXCLUDE_PAGER
#define RADIOLIB_EXCLUDE_RTTY
#define RADIOLIB_EXCLUDE_SSTV
#define RADIOLIB_LORA_MODULE SX1262
#define RADIOLIB_EXCLUDE_CC1101
#define RADIOLIB_EXCLUDE_LR11X0
#define RADIOLIB_EXCLUDE_RF69
#define RADIOLIB_EXCLUDE_RFM2X
#define RADIOLIB_EXCLUDE_SX1231
#define RADIOLIB_EXCLUDE_SX127X
#define RADIOLIB_EXCLUDE_SX128X
#define RADIOLIB_EXCLUDE_SI443X
#define RADIOLIB_EXCLUDE_NRF24
#define RADIOLIB_LORA_MODULE_BITMAP 5, 2, 14, 4
#define RADIOLIB_LORAWAN_DEV_EUI 0x70B3D57ED0070597
#define RADIOLIB_LORAWAN_APP_KEY 0x1B, 0xBF, 0xF6, 0x36, 0xC7, 0x28, 0xAA, 0xFB, 0x37, 0x91, 0xCF, 0xA8, 0x3E, 0x2D, 0x00, 0x26
#define RADIOLIB_LORAWAN_NWK_KEY 0x13, 0xFF, 0x72, 0xEC, 0xFC, 0xEC, 0xF7, 0x99, 0x3D, 0xC1, 0x64, 0x1B, 0x2D, 0x9B, 0x0E, 0x2A
#define RADIOLIB_LORAWAN_PAYLOAD "RadioLib v1.1.0 experiment device: Waiting for GPS"
#define GPS_SERIAL_PORT 2
#define GPS_SERIAL_BAUD_RATE 9600
#define GPS_SERIAL_CONFIG SERIAL_8N1
#define GPS_SERIAL_RX_PIN 16
#define GPS_SERIAL_TX_PIN 17
#define DALLAS_TEMPERATURE_PIN 27
#define PH4502C_PH_PIN 34
#define PH4502C_TEMPERATURE_PIN 35
#define PH4_ADC_VALUE 2503
#define PH7_ADC_VALUE 2080
#define PH10_ADC_VALUE 1615
#define TDS_SENSOR_PIN 32
#define TDS_SENSOR_VCC 3.3
#define TDS_SENSOR_ADC_RESOLUTION 4096
#define A1 32
#define TURBIDITY_PIN 33
#define TURBIDITY_VCC 3.3
#define TURBIDITY_ADC_MAX 4096
#define TURBIDITY_CLEAR_WATER_VOLTAGE 1.78
#define TURBIDITY_CLEAR_WATER_NTU 0.0
#define TURBIDITY_TURBID_WATER_VOLTAGE 0.84
#define TURBIDITY_TURBID_WATER_NTU 600.0
#define RADIOLIB_LORA_UPLINK_INTERVAL_SECONDS (1UL * 60UL)
#define HAVE_CONFIG_H
#define MBEDTLS_CONFIG_FILE "mbedtls/esp_config.h"
#define UNITY_INCLUDE_CONFIG_H
#define WITH_POSIX
#define _GNU_SOURCE
#define IDF_VER "v4.4.5"
#define ESP_PLATFORM
#define _POSIX_READER_WRITER_LOCKS
#define ARDUINO_ARCH_ESP32
#define ESP32
#define F_CPU 240000000L
#define ARDUINO 10812
#define ARDUINO_VARIANT "esp32"
#define ARDUINO_BOARD "Espressif ESP32 Dev Module"
#define ARDUINO_PARTITION_default
